.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

.header__list {
  display: flex;
}

.header__item:not(:first-child) {
  margin-left: 20px;
}

.header__link {
  color: #343434;
  text-transform: uppercase;
}